/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 18px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-top: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
    gap: 30px;
}

.hebergements-cards .card {
    
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.hebergements-cards img {
    width:100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements p {
    font-size: 14px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    padding-top: 0px;
   
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

h3 {
    margin: 0px;
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style simplifié de la card */
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    height: 146px;
}

/* Le lien devient transparent dans le layout */
.populaires-cards .card a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/*  Header  */

header {
    max-width: 1440px;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}

.img-booki {
    width: 161px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}






#img-logo {

    height: 19px;
    width: 61px;
}

nav {

    margin-top: 0px;

}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    align-items: flex-end;
    padding: 0;
    padding-right: 50px;
}

.nav-links li {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    padding-bottom: 0px;
    position: relative;
    display: inline-block;
}


.nav-links li:first-child a {
    color: #1752aa;
}

.nav-links li:first-child a::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0065FC;
}


/* Quand #activite est ciblé */
body:has(#activite:target) .nav-links li:first-child a {
    color: #666;
}

body:has(#activite:target) .nav-links li:first-child a::before {
    background: transparent;
}

body:has(#activite:target) .nav-links li:last-child a {
    color: #0065FC;
}

body:has(#activite:target) .nav-links li:last-child a::before {

    content: '';
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0065FC;
}


/*** search bar ***/

.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    margin-bottom: 35px;
}

.info-text h1 {
    font-size: 22px;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 8px;

}

.info-text p{
    margin: 0px;
}



.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container i {
    position: absolute;

}

.fa-location-dot {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 49px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.search-input {
    width: 28%;
    height: 49px;
    border: 1px solid rgba(128, 128, 128, 0.35);
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;


}

input {
    text-indent: 74px;
    /* décale tout le texte (placeholder + saisie) */
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 101, 252, 0.1);
    /* halo bleu léger */
}


.search-input::placeholder {
    color: black;
    /* gris clair */
}

.search-button {
    position: absolute;
    left: 245px;
    /* positionné à droite dans l'input */
    background-color: #0065FC;
    color: white;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 132px;
    height: 49px;
}

.search-button:hover {
    background-color: #0056d4;
}

/*** form ***/

.filters {
    width: 56%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters-title {
    margin: 0;
    margin-right: 20px;
}

.filter-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-btn button {
    font-size: 17px;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-btn .fa-solid {
    position: absolute;
    left: 19px;
    /* exactement à 19px du bord gauche */
    font-size: 22px;
    color: #0065FC;
}

.filter-btn span {
    position: absolute;
    left: 51px;
    /* exactement à 51px du bord gauche */
    font-weight: bold;
}

.filter-btn button:hover {
    background: #deebff;
    border-color: #D9D9D9;
}


.filter-btn-1 {
    width: 167px;
}

.filter-btn-2 {
    width: 131px;
}

.filter-btn-3 {
    width: 164px;
}

.filter-btn-4 {
    width: 161px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 1340px;
    height: 24px;
}

.info img {
    width: 24px;
    height: 24px;
}



/****** Activités ***********/
.activites {
    padding: 30px;
    margin-bottom: 35px;
}

.activites-title {
    margin-bottom: 30px;
}

.activites-cards {
   /* display: grid;
    grid-template-columns: repeat(4, 1fr);*/
    display: flex;
    align-items: row;
    width: 100%;
    
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
    width: 100%;
    height: 439px;
}

.activites-cards .card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding: 20px 19px;
    flex: 1;
}

.activites-cards .card-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

/***** Footer ******/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 163px;
    background-color: #F2F2F2;
}

.footer div {
    padding-left: 20px;
    padding-top: 20px;
    /* Espace en haut */
}

.footer h3 {
    margin: 0 0 18px 0;
    /* Espace fixe sous le titre */
}

.footer-link {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-link li {
    margin-bottom: 12px;
    /* Espacement fixe entre chaque lien */
}

.footer-link li:last-child {
    margin-bottom: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {



    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-input {
        width: 377px;
    }




    .activites-cards .card {
        height: 270px;
    }

    .activites-cards .card-content {
        padding: 15px;
    }

    .activites-cards .card img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
    }

    /* ... */
    body {
        margin: 0px;
    }

    header {

        width: 100%;
        height: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    nav {
        width: 100%;
    }

    .nav-links {

        justify-content: space-around;
        margin: 0px;
        gap: 0px;
    }



    .nav-links li {
        text-decoration: none;
        width: 50%;
        color: #686868;
        font-size: 16px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links li a {
        width: 100%;
        /* Le lien prend toute la largeur du li */
        text-align: center;
        /* Centre le texte dans le lien */
    }


    .nav-links li:first-child a {
        color: #1752aa;
    }

    .nav-links li:first-child a::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        height: 2px;
        background: #0065FC;
    }

    .nav-links li:last-child a::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #D9D9D9;
        /* ← Barre grise par défaut */
    }



    /* Quand #activite est ciblé */
    body:has(#activite:target) .nav-links li:first-child a {
        color: #686868;
    }

    body:has(#activite:target) .nav-links li:first-child a::before {
        top: 20px;
        height: 2px;
        background: #D9D9D9;
    }

    body:has(#activite:target) .nav-links li:last-child a {
        color: #0065FC;
    }

    body:has(#activite:target) .nav-links li:last-child a::before {

        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #0065FC;

    }





    .info-group {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 35px;
        height: 432px;

    }

    .info-text h1 {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 8px;
    }

    .info-text {

        height: 79px;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        left: 286px;
        width: 49px;
        /* Bouton carré */
        font-size: 0;
        /* Cache le texte "Rechercher" */
        border-radius: 15px;
        /* Arrondi sur tous les côtés */
    }

    .search-button::before {
        content: "\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 17px;
        color: white;
    }

    .filters {
        width: 100%;
    }

    .filters h2 {
        width: 100%;
    }

    .filter-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
        width: 100%;

    }

    .filter-btn-1,
    .filter-btn-2,
    .filter-btn-3,
    .filter-btn-4 {
        width: 100%;
    }






.hebergements-and-populaires .hebergements {
        background-color: white;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
        border-radius: 0;
    }

    .populaires{
        padding: 0px;
    }

    .populaires-title{
        padding-bottom: 15px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0px;
    }

     .populaires-cards .card{
        margin: 0px;
     }
     .populaires-cards .card-content{
        padding-left: 15px;
     }

    .populaires-cards .card-title {
        font-size: 16px; 
    }


    .populaires-cards .card-subtitle{
        font-size: 16px;
    }

    .hebergements{
 
        padding: 0px;
    }

  

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 0px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20PX;
        padding-top: 30px;
        padding-bottom: 30px;
        

    }

    .activites {
        padding: 30px 20px; 
        margin-top: 5px;
    }

    .activites-cards {
        padding: 0px;
        gap: 15px; 
    }

    .activites-cards .card {
        height: 200px; 
    }

    .activites-cards .card img {
        height: 141px;
    }

    .activites-cards .card-content {
        display: flex;
        align-items: center;
        padding: 20px 19px; 
        height: 59px;
    }
    
    .activites-cards .card-title {
        margin: 0; 
    }

    .footer {
    display: flex;
    flex-direction: column;
    height: 461px;
    gap: 50px;
    padding: 30px;
}
.footer div {
    padding-left: 0px;
    padding-top: 0px;
}
}